<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
  placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} aradınız.
</div>

<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Ürün adı</th>
      <th>Kategori</th>
      <th>Fiyat</th>
      <th>Kdv'li Fiyat</th>
      <th>Stok Adedi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
      <td>{{ product.id }}</td>
      <td>{{ product.title | uppercase}}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price |currency }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.image }}</td>
      <td><button (click)="addToCart(product)"
        type="button" class="btn btn-success">Sepete ekle</button></td>
    </tr>
  </tbody>

</table> -->
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
    <div *ngFor="let product of products | filterPipe:filterText">
        <article class="shadow-sm rounded bg-white border border-gray-200">
            <div class="pb-2 block relative p-1">
                <img src="{{ product.image }}" class="mx-auto w-auto" style="height: 240px; width:auto;" alt="Product title here">
            </div>
            <hr>
            <div class="p-4 border-t border-t-gray-200">
                <a href="#" class="block text-gray-500 mb-2 hover:text-blue-500 product-title ">{{ product.title | uppercase}} </a>
                <span class="text-gray-500">{{ product.category }}</span>
                <div class="flex justify-between items-center">
                    <p class="font-semibold text-gray-800 product-title">{{ product.price | currency }}</p>
                    <a class="px-2 py-2 inline-block text-white text-center font-semibold bg-blue-600 border border-blue-600 rounded-md hover:bg-blue-700" href="#" (click)="addToCart(product)">
            Add to cart
          </a>
                    <!-- <a class="self-center lg:self-auto px-3 py-2 inline-block font-semibold text-blue-600 border border-gray-300 rounded-md hover:bg-gray-100"
            href="#">
            <i class="far fa-heart"></i>
          </a> -->
                </div>
            </div>
        </article>
    </div>
</div>